html {
	position: relative;
    min-height: 100%;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url("http://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	font-family: "Roboto Condensed";
}

.logo-color {
	display: inline-block;
	background: url("../img/logo-color.png") no-repeat;
	background-position: left bottom;
	width: 244px;
	height: 105px;
}

.icon-phone {
	display: inline-block;
	background: url("../img/icon-telephone-16.png") no-repeat;
	background-position: left bottom;
	width: 16px;
	height: 17px;
}

.icon-earth {
	display: inline-block;
	background: url("../img/icon-earth-16.png") no-repeat;
	background-position: left bottom;
	width: 16px;
	height: 17px;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.container-fluid .jumbotron {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 13px;
	padding-right: 13px;

	background-color: #434752;
	color: white;
	border-radius: 0;
}

.jumbotron p{
	font-size: 15px;
	vertical-align: middle;
	margin-bottom: 2px;
	line-height: 18px;
}

.header-image {
	background-image: url(../img/jumbotron-bkg-small.jpg);
	background-size: cover;
	height: 256px;

	position: relative;
	top: -50px;
	z-index: -3;	
}

.navbar {
	background-color: #292929;
	border-radius: 0;
	border-color: #292929;
	min-height: 40px;
	height: 60px;
}


.navbar li a {
	color: white !important;
	font-size: 18px;
	line-height: 28px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.dropdown-menu > li {
	background-color: #292929;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	background-color: #696969;
}

#header-text{
	position: relative;
	top: 3vh;
	color: #428dd1;
}
#logo {
	margin-top: 1vh;
	margin-bottom: 3vh;
	height: 15vh;
	margin-left: 4vw;
}

#window-products{
	margin-top: 30px;
}
.window-product{
	background-color: rgba(85,154,170,.5);
   border: 5px solid #73AD21;
	border-color: white;
}

.row-photos{
	padding-left: 3vw;
	margin-top: 4vh;
}
#footer {
	background-color: #6d8491;
	border-top: 1px solid #EEEEEE;	
    left: 0;
    bottom: 0;
    width: 100%;	
}
#logo-footer{
	float: right;
	padding: 45px;
	width: 75%;
}
.submenu-text{
	color: white;
	max-width: 9vw;
	font-size: 15px;
}
.group{
	margin-left: 3vw;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

#garanzia-title-box{
	background-color: rgb(66,141,209);
	float: none;
	top: 3vh;
	min-height: 8vh;
}
#garanzia-title-box h1{
	color: white;
	text-shadow: 1px 0px 4px rgba(0,0,0,.9);
}

#garanzia-container{
	background-color: rgba(109,132,145,.25);
    background: -webkit-linear-gradient(rgba(109,132,145,.25), white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(109,132,145,.25), white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(109,132,145,.25), white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(109,132,145,.25), white); /* Standard syntax */
}
#garanzia-content{
	position: relative;
	top: 5vh;
	margin-bottom: 70vh;
}
#garanzia-content p{
	color: #428dd1;
	text-shadow: 1px 0px 4px rgba(0,0,0,.2);
}

#contatti-title-box{
	background-color: rgb(66,141,209);
	float: none;
	top: 3vh;
	min-height: 8vh;
}

#contatti-title-box h1{
	color: white;
	text-shadow: 1px 0px 4px rgba(0,0,0,.9);
}


#contatti-container{
	background-color: rgba(109,132,145,.25);
    background: -webkit-linear-gradient(rgba(109,132,145,.25), white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(109,132,145,.25), white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(109,132,145,.25), white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(109,132,145,.25), white); /* Standard syntax */
    position: relative;
	margin-bottom: 60vh;
}

#contatti-container p{
	color: #428dd1;
	text-shadow: 1px 0px 4px rgba(0,0,0,.2);
}

.contatti-content{
	position: relative;
	top: 20vh;
}

#map {
	width: 20vw;
	height: 40vh;
}

ul[role="tablist"]{
	float: left;

}
ul[role="tablist"] a{
	color: rgba(0,0,0,.6);
}

.content {
	float: right;
	margin-top: -120px;
}