html {
	position: relative;
    min-height: 100%;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url("http://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	font-family: "Roboto Condensed";
}

.logo-color {
	display: inline-block;
	background: url("../img/logo.png") no-repeat;
	background-position: left bottom;
	width: 254px;
	height: 100px;
}

.icon-phone {
	display: inline-block;
	background: url("../img/icon-telephone-16.png") no-repeat;
	background-position: left bottom;
	width: 16px;
	height: 17px;
}

.icon-earth {
	display: inline-block;
	background: url("../img/icon-earth-16.png") no-repeat;
	background-position: left bottom;
	width: 16px;
	height: 17px;
}

.icon-pdf {
	display: inline-block;
	background: url("../img/icon-pdf-16.png") no-repeat;
	background-position: left bottom;
	width: 16px;
	height: 17px;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.container-fluid .parteneri {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 13px;
	padding-right: 13px;

	background-color: #dddddd;
	color: white;
	border-radius: 0;
}

.container-fluid .jumbotron {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 13px;
	padding-right: 13px;

	background-color: #363548;
	color: white;
	border-radius: 0;
}

.jumbotron p{
	font-size: 15px;
	vertical-align: middle;
	margin-bottom: 2px;
	line-height: 18px;
}

.header-image {
	background-image: url(../img/jumbotron-bkg-small.jpg);
	background-size: cover;
	height: 256px;

	position: relative;
	top: -50px;
	z-index: -3;	
}

.navbar {
	background-color: #363548;
	border-radius: 0;
	border-color: #363548;
	min-height: 40px;
	height: 60px;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	color: #009246;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 18px;
	line-height: 28px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.dropdown-menu > li {
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
}

#header h4 {
	font-size: 16pt;
}
#logo {
	margin-top: 1vh;
	margin-bottom: 3vh;
	height: 15vh;
	margin-left: 4vw;
}

#window-products{
	margin-top: 30px;
}
.window-product{
	background-color: rgba(85,154,170,.5);
   border: 5px solid #73AD21;
	border-color: white;
}

.row-photos p {
	max-width: 303px;
	color: #888888;
}

#footer {
	background-color: #6d8491;
	border-top: 1px solid #EEEEEE;	
    left: 0;
    bottom: 0;
    width: 100%;	
}
#logo-footer{
	float: right;
	padding: 45px;
	width: 75%;
}
.submenu-text{
	color: white;
	max-width: 9vw;
	font-size: 15px;
}
.group{
	margin-left: 3vw;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

ul[role="tablist"]{
	float: left;

}
ul[role="tablist"] a{
	color: rgba(0,0,0,.6);
}

.content {
	float: right;
	margin-top: -120px;
}


#garanzia ul,
#informazioni ul {
	color: #009246;
	font-size: 14pt;
}

#garanzia ul p,
#informazioni ul p {
	color: white;
	font-size: 14pt;
}

#carta h3 {
	color: #009246;
	font-size: 18pt;
}